* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: #2193b0; /* fallback for old browsers */
	background: -webkit-linear-gradient(
		to right,
		#6dd5ed,
		#2193b0
	); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(
		to right,
		#6dd5ed,
		#2193b0
	); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

header {
	padding: 50px 15px 0px;
}

main {
	width: 100%;
	max-width: 960px;
	margin: 0 auto;
	text-align: center;
}
.search-box {
	display: block;
	width: 100%;
	padding: 15px;
	border: none;
	outline: none;
	border-radius: 15px;
	font-size: 1rem;
	background: none;
	background-color: rgb(223, 213, 216);
	color: rgb(19, 18, 18);
	transition: 0.4s ease-in-out;
}

.search-box:focus {
	box-shadow: 0px 0px 8px 3px rgb(140, 98, 180);
}

.results {
    width: 100%;
	display: flex;
	flex-wrap: wrap;
	margin: 0px -15px;
}

.results .result img {
	display: block;
    width: 100%;
    height: auto;
    transition: 0.5s easy;
    backface-visibility: hidden;
}

.results .result {
	width: 25%;
	min-width: 2rem;
	padding: 15px;
	display: flex;
	flex-direction: column;
	cursor: pointer;
}

.middle {
    transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.result:hover img{
    opacity: 0.3;
}
.result:hover .middle{
    opacity: 1;
}

.text {
    background-color: #4CAF50;
    color: white;
    font-size: 1rem;
    line-height: 1rem;
    padding: 0.5rem;
	width: 100%;
  }

  .text a {
	  text-decoration: none;
	  color: white;
  }

.results .result h3 {
	text-transform: capitalize;
	/* flex: 1 1 100%; */
    transition: 1s ease-out;
    font-size: smaller;

	color: white;

	background: rgb(53, 33, 167);
}

.results .result:hover h3 {
	color: white;
	background: green;
}


.result {
    position: relative;
}

